# Postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres # Стандартная бд, которую лучше не использовать для консистентности 
                     # баз данных в сервисе (будем все используемые бд создавать миграциями)

# Клиенты fzon базы данных
MAIN_DB_NAME=aura_connect

AUTH_DB_NAME=${MAIN_DB_NAME}
AUTH_DB_SCHEMA=authserviceschema
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=auth
SECRET_JWT_KEY=my-secret-jwt-key

communicationservice_DB_NAME=${MAIN_DB_NAME}
communicationservice_DB_SCHEMA=communicationservice_schema
communicationservice_DB_USER=communicationservice
communicationservice_DB_PASSWORD=communicationservice

# # Kafka
# KAFKA_BROKERS=kafka:9092

# # Group IDs для каждого сервиса
# ORDERSERVICE_KAFKA_GROUP_NAME=orderservice
# BANKSERVICE_KAFKA_GROUP_NAME=bankservice

